/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1c2228;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.7s ease;
}

header.header-shrink .menu-list {
  height: 10vh; 
}

header .menu-logo img {
  height: 7vh; 
  transition: all 0.7s ease; 
}

header.header-shrink .menu-logo img {
  height: 5vh;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh; 
  padding: 0 20px;
  column-gap: 50px;
}

.menu-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 0;
  gap: 25px;
}

.menu-item li a {
  text-decoration: none;
  color: #ffffff;
}

.menu-options {
  display: flex;
  align-items: center;
  gap: 30px;
}


.menu-options a {
  text-decoration: none;
  color: #ffffff;
}

main {
  margin-top: 15vh; 
}