
  body{
    font-family: sans-serif;
    font-weight: 175;
    font-size: 14px;
  }
  a{
    color: white;
    text-decoration-line: none;

}

header{
  
    background-color: rgb(59, 62, 70);
    padding-top: 22px;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 150%;
    padding-bottom: 20px;
    z-index: 1000;
  
}


.menu-list ul {
  list-style-type: none;
}

.menu-item{
  width: 1190px;
  display: flex;
  align-items: center;
}

.menu-item > * {
  flex: 1 1 auto;
}

.menu-logo{
padding-left: 20px;
}
 

