body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1c2228;
  padding: 10px 20px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0 20px;
}

.menu-logo img {
  max-height: max-content;
}

.menu-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 0;
  gap: 20px;
  height: 13vh;
}

.menu-item li a {
  text-decoration: none;
  color: #ffffff;
}

.menu-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-options a {
  text-decoration: none;
  color: #ffffff;
}

svg {
  fill: #333;
}

.menu-options ion-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #ffffff;
}

.ul.menu-item {
  padding: none;
}