.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;
    width: 237px;
    height: 94px;
    margin-top:20px;
    padding: 20px;
    background-color: #f0f0f0;
    align-items: stretch;
    justify-items: stretch;
    
}

body {
    margin: 0;
    height: 100vh; 
    display: flex; 
    margin: auto;
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff;
}
